# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/

# Model training files (optional if large)
*.h5
*.pt
*.pth

# IDE settings
.vscode/
.idea/	